.logo {
    grid-column: 11 / 13;
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
}
.title {
    grid-column: 2 / 13;
    grid-row: 3 / 9;
}

.title > h1:nth-child(2) {
    margin-left: 10rem;
}

.title > h1:nth-child(3) {
    margin-left: 20rem;
}

.subheading {
    color: var(--subheading-color);
}

.intro-img {
    grid-column: 8 / 11;
    grid-row: 2 / 6;
    font-size: 10rem;
}

.info-navigation {
    grid-column: 1 / 13;
    grid-row: 12 / 13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    color: var(--subheading-color);
    font-size: 1rem;
}

.info-navigation span::before {
    content: " | ";
    margin: 0 0.5rem;
}

.language-selector {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    color: #fff;
}

.language-selector::after {
    content: "\25BC";
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0.8rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    outline: none;
    color: #fff;
}

option {
    color: #666;
    background-color: #fff;
}
option:hover,
option:focus {
    color: #fff;
}
