.logo {
    grid-column: 11 / 13;
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
}
.title {
    grid-column: 2 / 13;
    grid-row: 3 / 10;
}

.title > h1:nth-child(2) {
    margin-left: 10rem;
}

.title > h1:nth-child(3) {
    margin-left: 20rem;
}

.title-icon {
    width: 6rem;
    aspect-ratio: 1/1;
}

.subheading {
    color: var(--subheading-color);
}

.intro-img {
    grid-column: 8 / 11;
    grid-row: 2 / 6;
    font-size: 10rem;
}

.info-navigation {
    grid-column: 1 / 13;
    grid-row: 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: var(--subheading-color);
}

.info-navigation > span {
    display: flex;
    align-items: center;
}

.info-navigation > span::before {
    content: "|";
    margin-right: 1rem;
}

.info-navigation > span:last-child::after {
    content: "|";
    margin-left: 1rem;
}

.language-selector {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    color: #fff;
}

.language-selector::after {
    content: "\25BC";
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0.8rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    outline: none;
    color: #fff;
}

option {
    color: #666;
    background-color: #fff;
}
option:hover,
option:focus {
    color: #fff;
}

/* Cookie consent */

.cookie-container {
    display: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
}

.cookie-wrapper {
    background-color: #fff;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    padding: 2rem;
    border-radius: 20px;
    width: 20rem;
    height: 18rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cookie-svg {
    height: 4rem;
    aspect-ratio: 1/1;
    margin: 0 1rem 1rem 1rem;
}

.cookie-content header {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
}

.cookie-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.cookie-content .info {
    font-size: 0.8rem;
}

.cookie-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.cookie-btn {
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: var(--heading-color);
    padding: 0.5rem 1.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border: 2px solid var(--heading-color);
}

.cookie-btn:hover {
    cursor: pointer;
    color: var(--heading-color);
    background-color: #fff;
    border: 2px solid var(--heading-color);
}

.cookie-btn:last-child {
    background-color: transparent;
    color: var(--heading-color);
}

.cookie-btn:last-child:hover {
    background-color: var(--heading-color);
    color: #fff;
}
