:root {
    --content-padding: 100px;
}

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 3rem;
}

p {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}
.container {
    height: calc(100vh - 2 * var(--content-padding));
    width: calc(100vw - 2 * var(--content-padding));
    padding: var(--content-padding);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-self: stretch;
    align-self: stretch;
}

.top-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: blue;
}

.top-mid {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: green;
}

.top-right {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: pink;
}

.mid-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: yellow;
}

.mid-mid {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: orange;
}

.mid-right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: purple;
}

.bottom-left {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: red;
}

.bottom-mid {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: brown;
}

.bottom-right {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: black;
}
