* {
    padding: 0;
    margin: 0;
}

:root {
    --content-padding: 2rem;
    --heading-color: #8f2d56;
    --primary-color: #d81159;
    --secondary-color: #0496ff;
    --accent-color: #f9ed69;
    --text-color: #666;
    --background-color: #fff;
    --highlight-color-green: #29bf12;
    --highlight-color-red: #d81159;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 1.2vw;
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

/* Typography */
h1 {
    font-size: 7rem;
    font-weight: 400;
    text-align: left;
    color: var(--heading-color);
}

h2 {
    font-weight: 400;
    text-align: left;
    color: var(--primary-color);
    margin-bottom: 0.2rem;
}

h3 {
    font-weight: 400;
    text-align: left;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

ul {
    margin: 0 0 1rem 2rem;
}

/* Content wrappers */
.content {
    padding: var(--content-padding);
    width: calc(100vw - 2 * var(--content-padding));
    height: calc(100vh - 2 * var(--content-padding));
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 0.5rem;
    overflow: hidden !important;
}

.chart-h {
    margin-top: 15rem;
    height: 50%;
}

.card {
    padding: 3rem;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.card-1_2 {
    margin: 2rem 5rem;
}

.card-1_3 {
    margin: 2rem 3rem;
}

.card-h {
    margin: 0 1rem;
}

/* Text Highlighting */

.h-strong {
    font-weight: 600;
}

.h-kpi-g {
    color: var(--highlight-color-green);
    font-weight: 600;
}

.h-kpi-r {
    color: var(--highlight-color-red);
    font-weight: 600;
}

/* Chart Configs */

.apex-axis-title {
    font-family: inherit;
    font-weight: normal;
    font-size: 1.5rem;
}

.apexcharts-svg {
    overflow: visible;
}

/* Different Grid alignments ratios */
.c-full {
    grid-column: 1 / 13;
    grid-row: 1 / 13;
}

.c-v1_2-left {
    grid-column: 1 / 7;
    grid-row: 1 / 13;
}

.c-v1_2-right {
    grid-column: 7 / 13;
    grid-row: 1 / 13;
}

.c-v1_3-left {
    grid-column: 1 / 5;
    grid-row: 1 / 13;
}

.c-v1_3-middle {
    grid-column: 5 / 9;
    grid-row: 1 / 13;
}

.c-v1_3-right {
    grid-column: 9 / 13;
    grid-row: 1 / 13;
}

.c-v2_3-left {
    grid-column: 1 / 9;
    grid-row: 1 / 13;
}

.c-v2_3-right {
    grid-column: 5 / 13;
    grid-row: 1 / 13;
}

.c-h1_3-top {
    grid-column: 1 / 13;
    grid-row: 1 / 5;
}

.c-h1_3-bottom {
    grid-column: 1 / 13;
    grid-row: 5 / 9;
}

.c-h2_3-top {
    grid-column: 1 / 13;
    grid-row: 1 / 9;
}

.c-h2_3-bottom {
    grid-column: 1 / 13;
    grid-row: 5 / 13;
}

.c-h1_2-top {
    grid-column: 1 / 13;
    grid-row: 1 / 7;
}

.c-h1_2-bottom {
    grid-column: 1 / 13;
    grid-row: 7 / 13;
}
