.recap-title {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    font-size: 7rem;
    color: var(--heading-color);
}

.recap p {
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.recap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem !important;
}
