.recap .card-v {
    padding: 3.5rem 5rem;
}

.recap p {
    margin-bottom: 2rem;
}
.recap-title {
    grid-column: 2 / 13;
    grid-row: 5 / 6;
    font-size: 4rem;
}

.ref-btn {
    width: 30%;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: var(--heading-color);
    padding: 0.8rem 1.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    margin-left: calc(50% - 15%);
    margin-top: 4rem;
    transition: all 0.3s ease-in-out;
    animation: jump 2s ease-in-out infinite;
}

.ref-btn:hover {
    cursor: pointer;
    transform: translateX(-50%) scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes jump {
    0% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-0.2rem) scale(1.03);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}
