.recap-title {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    font-size: 7rem;
    color: var(--heading-color);
    margin-left: calc(100% / 2 - 10rem / 2);
    width: 10rem;
}

.recap p {
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.recap {
    grid-column: 5 / 13;
    grid-row: 1 / 13;
    padding: 4rem !important;
}
