.ref-container {
    grid-column: 1 / 13;
    grid-row: 1 / 13;
    display: flex;
    flex-direction: column;
    padding: 0 3rem 0 5rem;
    justify-content: space-between;
}

.ref-title {
    font-size: 4rem;
    color: var(--heading-color);
}

.ref-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 60vh;
}

.ref-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ref-col h3 {
    font-size: 2rem;
    color: var(--subheading-color);
    margin-bottom: 0.9rem;
}

.ref-col a {
    color: var(--background-color);
    text-decoration: none;
    width: 90%;
}

.ref-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.8rem;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    font-size: 1.2rem;
    transition: transform 0.3s ease-in-out;
}

.ref-icon {
    height: 1.5rem;
    aspect-ratio: 1/1;
    margin-right: 1rem;
}

a .ref-item:hover {
    transform: translateX(0.5rem);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

p.ref-disclaimer {
    width: 95%;
    font-size: 0.8rem;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
    margin: 2rem 0 1rem 0;
}
