.c-tooltip {
    position: relative;
    display: inline-block;
    padding: 0.8rem;
}

.c-tooltip-title {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid #e5e5e5;
}

.c-tooltip-data-value {
    padding-left: 1rem;
    text-align: end;
}
