/* Tooltip */

.c-tooltip {
    position: relative;
    display: inline-block;
}

.c-tooltip-title {
    padding: 0.5rem 0.8rem;
    background-color: #eceff1;
    border-bottom: 1px solid #dddddd;
}

.c-tooltip-data {
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
}

.c-tooltip-data-label {
    padding-right: 1rem;
}

.c-tooltip-data-value {
    text-align: end;
    font-weight: 600;
}
